@import 'typography';
@import 'colors';
@import 'navigation';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


input[name="id"] {
  display: none;
}

main > div.container {
  min-height: 90vh;
}

main div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;

  section.t-shirt {
    width: 50%;
    padding: 0 20px;

    .text-display {
      z-index: 999;
    }

    .image-container {
      display: block;
      position: sticky;
      top: 17vh;

      .image {
        display: block;
        width: 100%;

        &.sizeS {
          transform: scale(0.975);
        }

        &.sizeM {
          transform: scale(1);
        }

        &.sizeL {
          transform: scale(1.025);
        }

        &.sizeXL {
          transform: scale(1.05);
        }

        &#red svg path {
          fill: $red;
        }

        &#green svg path {
          fill: $green;
        }

        &#white svg path {
          fill: $white;
        }

        &#black svg path {
          fill: $semi-black;
        }

        &#blue svg path {
          fill: $blue;
        }

        &#pink svg path {
          fill: $pink;
        }

        svg {
          width: 100%;
          transition: all .3s;
        }
      }

      #print-button {
        position: relative;
        display: block;
        top: 10px;
        border: solid 2px $semi-black;
        width: 100%;
        padding: 10px 0;
        background: $semi-black;
        color: $white;
        font-family: catamaran, arial, sans-serif;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
      }

      #print-button:hover {
        background-color: rgba(0,0,0,0);
        color: $semi-black;
        transition: all .3s;
      }
    }
  }

  section.choose {
    width: 50%;
    padding: 0 10px;

    .unique-code {
      display: block;
      width: 100%;
      border: dashed 2px black;
      margin-bottom: 2vh;
      margin-top: 5vh;
      text-align: center;

      p {
        margin: 5px 0;

        span {
          font-weight: bold;
        }
      }
    }

    .fieldsets {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -o-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      fieldset {
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;
        border: solid 2px black;
        margin: 20px 0;

        legend {
          width: 100%;
          font-family: catamaran, arial, sans-serif;
          font-size: 2em;
          font-weight: bold;
          text-align: center;
          letter-spacing: 2px;
        }

        div.options {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: -o-flex;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          input[type="radio"] {
            opacity: 0;
            position: absolute;
          }

          input[type="radio"] + label {
            padding: 20px;
            border: solid 2px rgba(0,0,0,0);
            transition: all .3s;
          }

          input[type="radio"]:hover + label {
            cursor: pointer;
          }

          label {
            width: 100%;
            padding: 15px;
            font-family: quicksand, arial, sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;

            img {
              margin: 0 auto 10px;
              max-width: 80px;
              display: block;
            }
          }
          div {
            align-self: stretch;
            width: 50%;
            padding: 5px;
            margin: 0;

            input[type="radio"]:checked + label {
              border: solid 2px $semi-black;
              transition: all .3s;
            }
          }
        }

        div.options.color {
          input[type="radio"]#red:checked + label {
            border: solid 2px $semi-black;
            background-color: $red;
            color: $white;
          }

          input[type="radio"]#green:checked + label {
            border: solid 2px $semi-black;
            background-color: $green;
            color: $black;
          }

          input[type="radio"]#white:checked + label {
            border: solid 2px $semi-black;
            background-color: $white;
            color: $black;
          }

          input[type="radio"]#black:checked + label {
            border: solid 2px $semi-black;
            background-color: $semi-black;
            color: $white;
          }

          input[type="radio"]#blue:checked + label {
            border: solid 2px $semi-black;
            background-color: $blue;
            color: $black;
          }

           input[type="radio"]#pink:checked + label {
            border: solid 2px $semi-black;
            background-color: $pink;
            color: $black;
          }
        }
      }
    }

    input[type="submit"] {
      position: relative;
      top: 10px;
      border: solid 2px $semi-black;
      width: 100%;
      padding: 10px 0;
      background: $semi-black;
      color: $white;
      font-family: catamaran, arial, sans-serif;
      font-weight: bold;
      font-size: 1em;
      transition: all .3s;
    }

    input[type="submit"]:hover {
      background-color: rgba(0,0,0,0);
      color: $semi-black;
      transition: all .3s;
    }
  }
}


main div.carousel-active {
  align-items: center;

  section.t-shirt {
    .text-display {
      display: block;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      max-width: 40%;
      text-align: center;
      z-index: 999;
    }
  }

  section.choose {
    .unique-code {
      margin-top: 0;
    }

    div.fieldsets {
      position: relative;
      display: block;
      min-height: 350px;
      overflow: hidden;
      border: solid 2px $semi-black;

      fieldset {
        position: absolute;
        left: 0;
        top: 20px;
        margin: 0;
        box-sizing: border-box;
        border: none;
        transition: all .5s .3s ease-in-out;

        &:nth-of-type(2) {
          left: 100%;
        }

        &:nth-of-type(3) {
          left: 200%;
        }

        &:nth-of-type(4) {
          left: 300%;
        }

         &:nth-of-type(5) {
          left: 400%;
        }
      }

      input[type="submit"] {
        top: 30px;
      }
    }
  }
}

fieldset {
  &:nth-of-type(5) {
    font-family: quicksand, arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1em;

    input[name="text"] {
      display: block;
      width: 100%;
      max-width: 300px;
      padding: 5px;
      margin: 1vh auto 3vh;
      border: solid 1px black;
    }

    div {
      display: block;

      &:first-of-type {
        margin-bottom: 3vh;
      }

      select {
        border: solid 1px black;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: rgba(0,0,0,0);
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
        padding: .5em;
        padding-right: 1.5em;
      }
    }
  }
}

.text-display {
  display: block;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  text-align: center;

  &#spicy-rice {
    font-family: 'Spicy Rice', arial, cursive;
  }

  &#anton {
    font-family: 'Anton', arial, sans-serif;
  }

  &#lobster {
    font-family: 'Lobster', cursive;
  }

  &#arvo {
    font-family: 'Arvo', arial, serif;
  }

  &.red {
    color: $red;
  }

  &.green {
    color: $green;
  }

  &.white {
    color: $white;
  }

  &.black {
    color: $black;
  }

  &.blue {
    color: $blue;
  }

  &.pink {
    color: $pink;
  }
}

@media print
{
.noprint {display:none;}
}

// Saved page
.saved {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;

  .unique-code {
    display: block;
    width: 100%;
    border: dashed 2px black;
    padding: 2em;
    text-align: center;
    font-size: 1.5em;

    span {
      font-weight: bold;
    }
  }

  #button {
    display: block;
    border: solid 2px $semi-black;
    width: 100%;
    padding: 10px 0;
    background: $semi-black;
    color: $white;
    font-family: catamaran, arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
  }

  #button:hover {
    background-color: rgba(0,0,0,0);
    color: $semi-black;
    transition: all .3s;
  }
}



// MEDIA QUERIES

@media all and (max-width: 1000px) {
  .top-bar {
    nav ul li {
      font-size: 0.8em;
    }
    .search {
      font-size: 0.8em;
    }
  }

  main div section.t-shirt {
    padding: 0;
  }

  label {
    font-size: 0.8em;
  }

  main div section.choose .fieldsets fieldset {
    legend {
      font-size: 1em;
    }

    div.options label {
      font-size: 0.8em;
    }
  }
}

@media all and (max-width: 880px) {
  .top-bar {
    nav ul {
      a:nth-of-type(1) li::after {
        display: none;
      }

      a:nth-of-type(2) li::after {
        display: none;
      }

      a:nth-of-type(3) li::after {
        display: none;
      }

      a:nth-of-type(4) li::after {
        display: none;
      }

      a:nth-of-type(5) li::after {
        display: none;
      }
    }
  }

  main div section.choose .fieldsets fieldset div.options {
    div {
      padding: 0;
    }

    input[type=radio] + label {
      padding: 10px 2px;
    }
  }
}

@media all and (max-width: 800px) {
  .top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .search {
      width: 100%;
    }

    nav {
      width: 100%;
    }
  }

  main div.container {
    flex-direction: column-reverse;

    .t-shirt {
      width: 100%;
      margin-top: 5vh;
    }

    .choose {
      width: 100%;

      .fieldsets {
        padding: 0;
      }
    }
  }

  main div.carousel-active section.choose div.fieldsets {
    min-height: 320px;
  }
}
