<div class="top-bar noprint">
  <div class="search">
    <form method="POST" action="/check-user">
      <input type="text" placeholder="Jouw unieke code" name="usercode"><input type="submit" value="search">
    </form>
  </div>
  <nav>
    <ul>
      <a href="#section-form" id="form">
        <li>Vorm</li>
      </a>
      <a href="#section-neck" id="neck">
        <li>Kraag</li>
      </a>
      <a href="#section-size" id="size">
        <li>Formaat</li>
      </a>
      <a href="#section-color" id="color">
        <li>Kleur</li>
      </a>
      <a href="#section-text" id="text">
        <li>Tekst</li>
      </a>
    </ul>
  </nav>
</div>
