<fieldset class="text" id="section-text">
  <legend>Tijd om een mooie tekst te bedenken.</legend>
  <label for="text">Typ een tekst voor op je shirt.</label>
  <input type="text" name="text">
  <div>
    <label for="font">Lettertype kiezen</label>
    <select id="font-list" name="font">
      <option value="spicy-rice">Spicy Rice</option>
      <option value="anton">Anton</option>
      <option value="lobster">Lobster</option>
      <option value="arvo">Arvo</option>
    </select>
  </div>
  <div>
    <label for="textColor">Kleur van de tekst</label>
    <select id="text-color" name="textColor">
      <option value="red">Rood</option>
      <option value="green">Groen</option>
      <option value="white">Wit</option>
      <option value="black">Zwart</option>
      <option value="blue">Blauw</option>
      <option value="pink">Roze</option>
    </select>
  </div>
  <input type="submit" value="opslaan en printen">
</fieldset>
