@import 'typography';
@import 'colors';
@import 'navigation';

.favorites {
  max-width: 50px;
  padding: 5px 20px;
  position: absolute;
  left: 3vw;
  top: 5vh;
  border: solid 2px $semi-black;
  background-color: $white;

  p {
    text-decoration: none;
    display: inline;
    font-family: catamaran, arial, sans-serif;
    color: $black;
    font-weight: bold;
  }
}

// input[name="id"] {
//   display: none;
// }

main div {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  section.t-shirt {
    width: calc(50% - 100px);
    padding: 0 50px;

    .shirt-button-container {
      display: flex;
      justify-content: space-between;

      button {
        position: relative;
        font-family: quicksand, arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: none;
        background: none;
        color: inherit;
        border: solid 1px $semi-black;

        &:hover {
          cursor: pointer;
        }

        &:first-of-type {
          padding: 5px 10px 5px 20px;

          &::after {
            content: '';
            position: absolute;
            content: '';
            top: -5px;
            left: -15px;
            transform: rotate(180deg);
            background: url('../img/arrow-black.svg') no-repeat;
            background-size: 30px;
            width: 30px;
            height: 20px;
            display: inline-block;
          }
        }

        &:last-of-type {
          padding: 5px 20px 5px 10px;

           &::after {
            content: '';
            position: absolute;
            content: '';
            top: 7px;
            right: -15px;
            background: url('../img/arrow-black.svg') no-repeat;
            background-size: 30px;
            width: 30px;
            height: 20px;
            display: inline-block;
          }
        }
      }
    }
  }

  section.choose {
    width: calc(50% - 100px);
    padding: 0 50px;

    fieldset {
      padding: 20px;
      text-align: center;
      border: 1px solid $black;

      legend {
        font-family: catamaran, arial, sans-serif;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 2px;
      }

      div.options {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;

        input[type="radio"] {
          opacity: 0;
          position: absolute;
        }

        input[type="radio"] + label {
          padding: 20px;
          border: solid 2px rgba(0,0,0,0);
          transition: all .3s;
        }

        input[type="radio"]:hover + label {
          cursor: pointer;
        }

        label {
          width: 100%;
          font-family: quicksand, arial, sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;

          img {
            margin: 0 auto 10px;
            max-width: 80px;
            display: block;
          }
        }
        div {
          align-self: stretch;
          width: calc(50% - 30px);
          margin: 15px;

          input[type="radio"]:checked + label {
            border: solid 2px $semi-black;
            transition: all .3s;
          }
        }
      }

      div.options.color {
        input[type="radio"]#red:checked + label {
          border: solid 2px $semi-black;
          background-color: $red;
          color: $white;
        }

        input[type="radio"]#green:checked + label {
          border: solid 2px $semi-black;
          background-color: $green;
          color: $black;
        }

        input[type="radio"]#white:checked + label {
          border: solid 2px $semi-black;
          background-color: $white;
          color: $black;
        }

        input[type="radio"]#black:checked + label {
          border: solid 2px $semi-black;
          background-color: $semi-black;
          color: $white;
        }

        input[type="radio"]#blue:checked + label {
          border: solid 2px $semi-black;
          background-color: $blue;
          color: $black;
        }

         input[type="radio"]#pink:checked + label {
          border: solid 2px $semi-black;
          background-color: $pink;
          color: $black;
        }
      }
    }
  }
}
