<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>T-shirt creator</title>
</head>
<!-- <body>
  <form method="POST" action="/submit">
    <input type="text" name="id" id="id" value="<%=data%>">
    <label name="name">Vul iets in pik
      <input type="text" name="name" id="name">
    </label>
    <label name="email" id="email" value="email" for="email">Wats je email
      <input type="email" name="email" id="email">
    </label>
    <input type="submit" value="submit">
  </form>
</body>
</html> -->
