<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Browser technologies</title>
  <link rel="stylesheet" href="/main.3d277483.css">
</head>
<body>
  <nav>
    <ul>
      <a href="/vorm">
        <li>Vorm</li>
      </a>
      <a href="/vorm2">
        <li>Kraag</li>
      </a>
      <a href="#">
        <li>Formaat</li>
      </a>
      <a href="#">
        <li>Kleur</li>
      </a>
      <a href="#">
        <li>Tekst</li>
      </a>
    </ul>
  </nav>
 <!--  <a href="">
    <div class="favorites">
      <img src="/heart.f80e3259.svg" alt="Image of a heart">
      <p>Favorites</p>
    </div>
  </a> -->
  <main>
    <div>
      <section class="t-shirt">
        <img src="/shirt_front_male_reg.af3a4699.svg" alt="male T-shirt frontside">
        <div class="shirt-button-container">
          <button class="left">Left</button>
          <button class="right">Right</button>
        </div>
      </section>
      <section class="choose">
        <form method="POST" action="/submit">
          <% if(userData !== null) { %>
            <input type="text" name="id" value=" <%=userData.id%>">
          <% } else {  %>
            <input type="text" name="id" value="<%=generatedID%>">
          <% } %>

          <fieldset class="form">
            <legend>Welke pasvorm wil je het liefst?</legend>
            <div class="options">
              <div>

                    <input type="radio" id="male" name="gender" value="male"
                      <% if(userData !== null && userData.gender === 'male') { %>
                        checked
                      <% } %>
                    >

                <label for="male">
                  <img src="/shirt_front_male_reg.af3a4699.svg" alt="male t-shirt form">
                  Mannelijk
                </label>
              </div>
              <div>
                <input type="radio" id="female" name="gender" value="female"
                  <% if(userData !== null && userData.gender === 'female') { %>
                    checked
                  <% } %>
                >
                <label for="female">
                  <img src="/shirt_front_female_reg.4703679a.svg" alt="female t-shirt form">
                  Vrouwelijk
                </label>
              </div>
            </div>
          </fieldset>
           <fieldset class="form">
            <legend>Welke kraag zou je willen?</legend>
            <div class="options">
              <div>
                <input type="radio" id="v-neck" name="neck" value="v-neck"
                  <% if(userData !== null && userData.neck === 'v-neck') { %>
                    checked
                  <% } %>
                >
                <label for="v-neck">
                  <img src="/v-neck.46508135.svg" alt="V-neck">
                  V-hals
                </label>
              </div>
              <div>
                <input type="radio" id="reg-neck" name="neck" value="reg-neck"
                  <% if(userData !== null && userData.neck === 'reg-neck') { %>
                    checked
                  <% } %>
                >
                <label for="reg-neck">
                  <img src="/reg-neck.e9c7619f.svg" alt="Regular neck">
                  Ronde hals
                </label>
              </div>
            </div>
          </fieldset>
           <fieldset class="form">
            <legend>Welk formaat moet het t-shirt zijn?</legend>
            <div class="options">
              <div>
                <input type="radio" id="small" name="size" value="small"
                  <% if(userData !== null && userData.size === 'small') { %>
                    checked
                  <% } %>
                >
                <label for="small">
                  Small
                </label>
              </div>
              <div>
                <input type="radio" id="regular" name="size" value="regular"
                  <% if(userData !== null && userData.size === 'regular') { %>
                    checked
                  <% } %>
                >
                <label for="regular">
                  Regular
                </label>
              </div>
              <div>
                <input type="radio" id="large" name="size" value="large"
                  <% if(userData !== null && userData.size === 'large') { %>
                    checked
                  <% } %>
                >
                <label for="large">
                  Large
                </label>
              </div>
              <div>
                <input type="radio" id="x-large" name="size" value="x-large"
                  <% if(userData !== null && userData.size === 'x-large') { %>
                    checked
                  <% } %>
                >
                <label for="x-large">
                  X-large
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="form">
            <legend>Welke kleur moet het t-shirt zijn?</legend>
            <div class="options color">
              <div>
                <input type="radio" id="red" name="color" value="red"
                  <% if(userData !== null && userData.color === 'red') { %>
                    checked
                  <% } %>
                >
                <label for="red">
                  Rood
                </label>
              </div>
              <div>
                <input type="radio" id="green" name="color" value="green"
                  <% if(userData !== null && userData.color === 'green') { %>
                    checked
                  <% } %>
                >
                <label for="green">
                  Groen
                </label>
              </div>
              <div>
                <input type="radio" id="white" name="color" value="white"
                  <% if(userData !== null && userData.color === 'white') { %>
                    checked
                  <% } %>
                >
                <label for="white">
                  Wit
                </label>
              </div>
              <div>
                <input type="radio" id="black" name="color" value="black"
                  <% if(userData !== null && userData.color === 'black') { %>
                    checked
                  <% } %>
                >
                <label for="black">
                  Zwart
                </label>
              </div>
              <div>
                <input type="radio" id="blue" name="color" value="blue"
                  <% if(userData !== null && userData.color === 'blue') { %>
                    checked
                  <% } %>
                >
                <label for="blue">
                  Blauw
                </label>
              </div>
              <div>
                <input type="radio" id="pink" name="color" value="pink"
                  <% if(userData !== null && userData.color === 'pink') { %>
                    checked
                  <% } %>
                >
                <label for="pink">
                  Roze
                </label>
              </div>
            </div>
          </fieldset>
          <input type="submit" value="submit">
        </form>
      </section>
    </div>
  </main>
</body>
</html>
