<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Browser technologies</title>
  <link rel="stylesheet" href="/main.3d277483.css">
</head>
<body>
  <nav>
    <ul>
      <a href="#">
        <li>Vorm</li>
      </a>
      <a href="#">
        <li>Kraag</li>
      </a>
      <a href="#">
        <li>Formaat</li>
      </a>
      <a href="#">
        <li>Kleur</li>
      </a>
      <a href="#">
        <li>Tekst</li>
      </a>
    </ul>
  </nav>
  <a href="">Favorites</a>
  <main>
    <section class="t-shirt">
      <img src="./shirt_front_male_reg.af3a4699.svg" alt="male T-shirt frontside">
      <div class="shirt-button-container">
        <button class="left">Left</button>
        <button class="right">Right</button>
      </div>
    </section>
    <section class="choose">
      <form action="/">
        <fieldset class="form">
          <legend>Welke pasvorm wil je het liefst?</legend>
          <label for="male">
            <input type="radio" id="male" name="gender" value="male">
            Male
          </label>
          <label for="female">
            <input type="radio" id="female" name="gender" value="female">
            Female
          </label>
        </fieldset>
      </form>
    </section>
  </main>
</body>
</html>
